.setdetail {

   &.content-body {
      padding: 0;
   }

   .category-header {
      margin: 20px 25px;
   }
}

.setresults {

   &.content-body {
      margin: 50px 0;
   }

   &.classification-table {
      margin-bottom: 25px;
   }
}
