.login-body, .upload-body {

   display: flex;
   justify-content: center;
   // height: 40vh;
   // min-height: 250px;
   width: 30vw;
   background-color: white;
   border-radius: 5px;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
   .form-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;

      .text-fields {
         display: flex;
         flex-direction: column;
      }

      .button-row {
         display: flex;
         flex-direction: column;

         .button {
            margin-top: 10px;
         }
      }
   }

}