// Upload scss
.upload {

   &.content-body {
      background: rgb(235, 233, 233);
      // width: 40vw;
      // min-width: 600px;
   }
}

.files-list-body {
   // margin: 50px 0;

   &.content-body {
      padding: 0;
      margin-top: 10px;
   }
}

.input-body {
   &:hover {
      cursor: pointer;
   }
}

// DropArea scss
.droparea.container {
   // width: 100%;
   min-height: 100px;
   border: 2px solid white;
 
   input.file-input {
      cursor: pointer;
      opacity: 0;
      z-index: 1;
   }
 
   .upload-icon.container {

      .icon {
         color: gray;
         font-size: 100px;
      }

      h3 {
         color: black
      }
   }
 } 

 // FilesList scss
.files-list {
   .upload-progress {
      text-align: center;
   }
}
